* { box-sizing: border-box;}

#editBar {
    display: flex;
    align-items: center;
    justify-content: center;
	color: #FFF;
	background-color: #000;
    height: 3.69em;
    font-size: 1em;
}

#login {
    cursor: pointer;
}

#portfolio h2 {
    margin-top: 2.98em;
    margin-bottom: 1.70em;
}

#editIconeBtn {
    color: #000;
}

#modal1 form {
    display: flex;
    flex-direction: column;
}

.formBtn {
    height: 2.75em;
    margin-top: 2.9em;
    margin-bottom: 3.5em;
    border: none;
}

.editIcone {
    color: #FFF;
    font-size: 1em;
    margin-right: 0.69em;
}

.modifyBtn {
    margin-top: 2.9em;
    margin-left: 1.94em;
    font-family: 'Work Sans';
}
.modifyBtn:hover {
    color: #B1663C;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    animation: fadeIn .3s both;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 0.63em;
    background-color: #FFF;
    width: 39.38em;  
    max-width: calc(100vw - 1.25em);
    max-height: calc(100vh - 1.25em);
    animation: slideFromTop .5s both;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
    animation-name: slideToBottom;
}

#modalNav {
    display: flex;
    justify-content: space-between;
}

#modalClose {
    display: flex;
    justify-content: flex-end;
}

.modalNavBtn {
    background-color: #FFF;
    box-sizing: border-box;
    border: none;
    margin: 2em 2.25em 0 2.25em;
    cursor: pointer;
}

.cross {
    font-size: 0.95em;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes fadeOut {
    from { opacity: 1;}
    to { opacity: 0;}
}

@keyframes slideFromTop {
    from { transform: translateY(-50px);}
    to { transform: translateY(0px);}
}

@keyframes slideToBottom {
    from { transform: translateY(0px);}
    to { transform: translateY(50px);}
}

.titleModal {
    color: #000;
    font-family: 'Work Sans';
    font-size: 1.62em;
    font-weight: 400;
    text-align: center;
    margin-top: 1.52em;
    margin-bottom: 1.62em;
}

.separationLine {
    width: 26.25em;
    border: solid 0.06em #B3B3B3;
    margin-top: 4.19em;
}

.modalContainerItems {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.60em;
    column-gap: 0.39em;
    max-height: 25em;
    overflow-y: auto;
}

#modalContainerItemsAddPicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10.56em;
    row-gap: 0.44em;
}

#modalContainerItemsAddPicture i {
    color: #B9C5CC;
    font-size: 4.75em;
    margin-top: 0.20em;
}

#modalContainerItemsAddPicture p {
    font-size: 0.62em;
}

#AddPictureBtn {
    background-color:  #CBD6DC;
    color: #306685;
    border-radius: 50px;
    width: 10.81em;
    height: 2.25em;
    text-align: center;
    font-size: 0.87em;
    font-weight: 500;
    font-family: 'Work Sans';
    padding-top: 0.62em;
}

#formAddPicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F1F6;
    border-radius: 3px;
}

#formAddTitleCategory {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.87em;
}

#modalAddTitlePicture {
    margin-bottom: 1.87em;
    padding-left: 1em;
}

.sectionPageModal {
    padding: 0 6.56em;
    margin: 0;
    overflow: hidden;
}
 
.modalContainerItems figure {
    display: flex;
    flex-direction: column;
}

.modalContainerItems img {
    width: 4.87em;
    height: 6.5em;
}

.containerTrashIcon {
    position: absolute;
    align-self: flex-end;
    background-color: #000;
    height: 1.2em;
    width: 1.2em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0.38em;
    margin-right: 0.38em;
}

figure:has(.containerTrashIcon) {
    display: flex;
    flex-direction: column;
    position: relative;
}

.trashIcon {
    font-size: 0.69em;
    color: #FFF;
    
}

.modalInputStyle {
    width: 100%;
    height: 3.19em;
    margin-top: 0.62em;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    border: none;
    color: #444;
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

#selectStyle {
    display: flex;
    flex-direction: column;
}

#modalFormAddCategoryPicture {
    position: relative;
    appearance: none;
    border: 0;
    height: 100%;
    width: 100%;
    color: #444;
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-left: 1em;
}

.chevronSelect {
    margin-top: 2em;
    margin-right: 2.95em;
    color: #6C6C6C;
    font-size: 0.69em;
    position: absolute;
    align-self: flex-end;
    pointer-events: none;
}

input[type="file"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 27.45em;
    height: 11.1em;
}
